/mvnw text eol=lf
*.cmd text eol=crlf

# Ignore frontend files in language statistics
*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
src/main/resources/static/** linguist-detectable=false
*.java linguist-language=Java
